#drum-machine {
  width: 40rem;
  height: 15rem;
  border: thin solid black;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  
  #padContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
    justify-content: space-between;
    
    .drum-pad {
      margin-bottom: 1rem;
      width: 30%;
      border: thin solid black;
      box-sizing: border-box;
      cursor: pointer;
      text-align: center;
      padding-top: 1.5rem;
    }
  }
  
  #display {
    box-sizing: border-box;
    width: 30%;
    height: 50%;
    margin-top: 3rem;
    padding-top: 3rem;
    background-color: black;
    color: white;
    text-align: center;
  }
}
